# 忽略 backend 下的日志目录
backend/logs/

# 忽略 backend 下的 ffmpeg 目录
backend/ffmpeg/

# 忽略 backend 下的数据库文件
backend/db.sqlite3

# 忽略所有 Python 缓存目录
# 忽略 backend 下所有层级的 Python 缓存目录
backend/django_auth_example/__pycache__/
backend/users/__pycache__/



frontend/node_modules